// Calculates y = |x|
// x & y are static variables

// Put your code here.
push static 0
push constant 0
// if x > 0 jmp to the label
gt
 

if-goto neg
push static 0
neg

label neg
pop static 1

label END
goto END